body{
	margin-left: 20px;
}
.section{
	background: #eeeeee;
	padding: 10px;
	font-size: 1.3em;}
.exercise{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
	margin-bottom: 10px;}
.card h2{
	text-align: center;}
.card p{
	font-size: 1.4em;
	color : #666666;}
.up{
	color: green;}
.down{
	color: red;}

table{
	width: 100%;}
	table thead{
		background: #e82634;
		color: white;}
	table .odd{
		background: #ddd;}
	table tfoot{
		background: #999;
		color: white;	}

.list-heroes{
	margin: 0px;
	padding: 0px;}
	.list-heroes li{
		background: #eeeeee;
		border : 1px solid #ddd;
		list-style: none;
		padding: 4px;
		cursor: pointer;}
	.list-heroes li:hover{
		background: #e82634;
		color: white;}

.bar{
	height: 10px;
	background: #555;
	width: 100px;}
	.bar span{
		display: block;
		height: 100%;
		background: red;}
	.bar span{
		display: block;
		height: 100%;
		background: orange;}
	.bar span.red{
		background: red;}
	.bar span.green{
		background: green;}