body{
	margin-left: 20px;
}
.section{
	background: #eeeeee;
	padding: 10px;
	font-size: 1.3em;}

.exercise{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
	margin-bottom: 10px;}

.card h2{
	text-align: center;}

.card p{
	font-size: 1.4em;
	color : #666666;}

.up{
	color: green;}

.down{
	color: red;}

table{
	width: 100%;
}
table thead{
	background: #e82634;
	color: white;
}
table .odd{
	background: #ddd;
}
table tfoot{
	background: #999;
	color: white;
}